---
import { getProjects } from '@/lib/api';
import BigCard from '@/components/common/previewCard/BigCard';
import { ArrowRightIcon } from 'lucide-react';

const { t, lang } = Astro.props;

// get date from API mock
const { meta, data: projects } = await getProjects({
  pageSize: 3,
});
---

<section id="ExploreSection" class="flex w-full flex-col gap-5 py-6 px-16 pt-10 pb-5">
  <!-- Topic -->
  <div class="flex flex-col items-center gap-2 text-center">
    <h1>{t('home.explore.topic')}</h1>
    <div class="lead">{t('home.explore.subTopic')}</div>
  </div>

  <!-- List of Cards -->
  <div class="flex flex-wrap gap-6 justify-center">
    {
      projects.map((p) => (
          <BigCard
            client:load
            projectImage={p.previewImageUrl}
            title={p.title}
            explanation={p.shortDescription}
            likes={p.likeCount}
            views={p.viewCount}
            professors={p.certifiedBy}
            contributors={p.contributors}
            link={`/${lang}/project/${p.projectId}`}
            projectId={p.projectId}
            certified={t('card.certified')}
            contributorsLabel={t('card.contributors')}
          />
        ))
    }
  </div>

  <!-- Explore More -->
  <div class="flex justify-center items-center gap-5 mt-6">
    <p>{t('home.explore.viewAll')}</p>
    <a href={`/${lang}/project`}>
      <button class="btn-icon" type="button" aria-label={t('home.explore.navigate')}>
        <ArrowRightIcon size={20} />
        <span class="small">{t('home.explore.navigate')}</span>
      </button>
    </a>
  </div>
</section>
