---
import { getProjects } from '@/lib/api';
import AvatarGroup from '../../common/Avatar/AvatarGroup';

const { t, lang } = Astro.props;
const PAGE_SIZE = 1;
const ORDER_BY = 'monthly_like_count';
const ORDER = 'desc';

const { meta, data: projects } = await getProjects({
  pageSize: PAGE_SIZE,
  orderBy: ORDER_BY,
  order: ORDER,
});
const bestInList = projects[0];

const now = new Date();

const prev = new Date(now.getFullYear(), now.getMonth() - 1, 1);

const monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

const prevMonth = monthNames[prev.getMonth()];
const prevYear = prev.getFullYear();

const previousLabel = `${prevMonth}, ${prevYear}`;
---

<section id="HeroSection" class="flex w-full flex-col gap-4 py-6 px-[var(--padding-md)] bg-main-neutral">
  <!-- Project metadata -->
  <div class="flex flex-wrap justify-center items-center gap-2">
    <p>{t('home.hero.topic')}</p>
    <div
      class="flex justify-center items-center px-2 rounded-lg border border-supporting-light-orange"
    >
      <p>{previousLabel}</p>
    </div>
    <p>
      {t('home.hero.view')}
      {bestInList.viewCount} | {t('home.hero.like')}
      {bestInList.likeCount}
    </p>
  </div>

  <!-- Project title -->
  <h1 class="text-center">{bestInList.title}</h1>

  <!-- Contributor avatars -->
  <AvatarGroup client:load contributors={bestInList.contributors} />

  <!-- Project image -->
  <div class="w-full h-[600px] my-4">
    <a href={`/${lang}/project/${bestInList.projectId}`}>
      <img
        src={bestInList.previewImageUrl}
        alt={bestInList.title}
        class="w-full h-full object-cover rounded-xl hover:opacity-90 transition"
        loading="lazy"
      />
    </a>
  </div>
</section>
