---
import { getProjects } from '@/lib/api';
import BigCard from '@/components/common/previewCard/BigCard';
import { ArrowRightIcon } from 'lucide-react';

const { t, lang } = Astro.props;

const PAGE_SIZE = 3;
const ORDER_BY = 'like_count';
const ORDER = 'desc';

const { meta, data: projects } = await getProjects({
  pageSize: PAGE_SIZE,
  orderBy: ORDER_BY,
  order: ORDER,
});
---

<section id="HonorSection" class="flex w-full flex-col gap-5 py-6 px-[var(--padding-md)] pt-10 pb-5 bg-main-neutral">
  <!-- Topic -->
  <div class="flex flex-col items-center gap-2 text-center">
    <h1>{t('home.honor.topic')}</h1>
    <div class="lead">{t('home.honor.subTopic')}</div>
  </div>

  <!-- List of Cards -->
  <div class="grid gap-6 justify-center grid-cols-[repeat(auto-fit,_minmax(250px,_360px))]">
    {
      projects.map((p) => (
          <BigCard
            client:load
            projectImage={p.previewImageUrl}
            title={p.title}
            explanation={p.shortDescription}
            likes={p.likeCount}
            views={p.viewCount}
            professors={p.certifiedBy}
            contributors={p.contributors}
            link={`/${lang}/project/${p.projectId}`}
            projectId={p.projectId}
            certified={t('card.certified')}
            contributorsLabel={t('card.contributors')}
          />
        ))
    }
  </div>

  <!-- Explore More -->
  <div class="flex justify-center items-center gap-5 mt-6">
    <p>{t('home.honor.viewAll')}</p>
    <a href={`/${lang}/project?orderBy=${ORDER_BY}&order=${ORDER}`}>
      <button class="btn-icon" type="button" aria-label={t('home.honor.navigate')}>
        <ArrowRightIcon size={20} />
        <span class="small">{t('home.honor.navigate')}</span>
      </button>
    </a>
  </div>
</section>
