---
import AvatarGroup from '../common/Avatar/AvatarGroup';
import Avatar from '../common/Avatar/Avatar';
import HeaderBar from '../common/header/HeaderBar.astro';
import { Heart, Download } from 'lucide-react';
import { LikeButton } from '../common/button/LikeButton';
import { formatDate } from '../../lib/dateFormat';
import { ContributorActionBar } from "./ContributorActionBar";

const { t, lang, project, token, userContext } = Astro.props;

// Decompose project
const projectId = project?.projectId || '';
const projectTitle = project?.title || 'Untitled Project';
const projectPreviewImageUrl = project?.previewImageUrl || '/default-image.jpg';
const projectCategories = project?.categories || [];
const contributors = project?.contributors || [];
const likeCount = project?.likeCount || 0;
const files = project.files || [];
const createdAt = formatDate(project?.createdAt || 'Unknown date');
const isLiked = project.isLikedByCurrentUser || false;

---

<section id="HeroProjectDetail" class="flex w-full flex-col gap-4 pt-30 py-6 px-[150px]">
  <!-- Project metadata -->

  <!-- Project image -->
  <div class="w-full h-[300px] my-4">
    <a href={`/${lang}/project/${project.slug}`}>
      <img
        src={projectPreviewImageUrl}
        alt={projectTitle}
        class="w-full h-full object-cover rounded-xl hover:opacity-90 transition"
        loading="lazy"
      />
    </a>
  </div>

  <!-- Project title -->
  <h2>{projectTitle}</h2>

  <!-- Project categories -->
  <div class="flex gap-1 flex-wrap">
    {projectCategories.map((category : any) => (
      <button class="btn-locked detail ">
        {category.categoryName}
      </button>
    ))}
  </div>

  <!-- Contributor and buttons container -->
  <ContributorActionBar
    client:load
    contributors={contributors}
    projectId={projectId}
    likeCount={likeCount}
    isLiked={isLiked}
    createdAt={createdAt}
    files={files}
    token={token}
  />
</section>