---
import BigCard from "../common/previewCard/BigCard.astro";

const { t, lang, project } = Astro.props;
---

<section id="RelatedProjectDetail" class="flex w-full flex-col gap-4 py-4 px-[150px]">
    <div class="flex px-3">
        <div class="simple-card !w-full px-5 py-5">
            <h3 class="text-main-neutral2">Related Projects</h3>
            <div class="grid grid-cols-2 px-4 py-3 gap-4 justify-items-center max-w-4xl mx-auto">
                <BigCard
                  t={t}
                  projectImage={project.image}
                  title={project.title}
                  explanation={project.description}
                  likes={project.likes}
                  views={project.views}
                  professors={project.Professors}
                  contributors={project.Contributor}
                  teamName={project.team}
                  link={`/${lang}/project/${project.slug}`}
                />
                <BigCard
                  t={t}
                  projectImage={project.image}
                  title={project.title}
                  explanation={project.description}
                  likes={project.likes}
                  views={project.views}
                  professors={project.Professors}
                  contributors={project.Contributor}
                  teamName={project.team}
                  link={`/${lang}/project/${project.slug}`}
                />
                <BigCard
                  t={t}
                  projectImage={project.image}
                  title={project.title}
                  explanation={project.description}
                  likes={project.likes}
                  views={project.views}
                  professors={project.Professors}
                  contributors={project.Contributor}
                  teamName={project.team}
                  link={`/${lang}/project/${project.slug}`}
                />
                <BigCard
                  t={t}
                  projectImage={project.image}
                  title={project.title}
                  explanation={project.description}
                  likes={project.likes}
                  views={project.views}
                  professors={project.Professors}
                  contributors={project.Contributor}
                  teamName={project.team}
                  link={`/${lang}/project/${project.slug}`}
                />
            </div>
        </div>
    </div>
</section>