---
import Layout from '../../../layouts/Layout.astro';
import BigCard from '@/components/common/previewCard/BigCard.astro';
import HeaderBar from '../../../components/common/header/HeaderBar.astro';
import { AdvanceSearch } from '../../../components/common/dropdown/AdvanceSearch';
import i18n from '../../../i18n/i18n';
import { getProjects } from '../../../lib/api';

// generate paths
export async function getStaticPaths() {
  const languages = ['en', 'th'];
  return languages.map((lang) => ({
    params: { lang },
  }));
}

// load params and project
const { lang } = Astro.params;
const currentLang = lang === 'th' ? 'th' : 'en';
i18n.changeLanguage(currentLang);
const t = i18n.t.bind(i18n);

const projects = await getProjects();
---

<Layout title={t('home.month.topic')} class="overflow-y-scroll">
  <section class="flex w-full flex-col py-6 px-16 gap-10">
    <HeaderBar lang={lang} componentsColor="bg-main-neutral" />
    <div class="flex flex-col gap-6">
      <div class="flex w-full justify-between">
        <h2>
          <span>Result for</span>
          <span class="text-main-primary">Project xxx</span>
        </h2>
        <AdvanceSearch client:load/>
      </div>
      <div class="flex flex-wrap gap-6 justify-center">
        {
          projects.map((p) => (
            <BigCard
              t={t}
              projectImage={p.image}
              title={p.title}
              explanation={p.description}
              likes={p.likes}
              views={p.views}
              professors={p.Professors}
              contributors={p.Contributor}
              teamName={p.team}
              link={`/${currentLang}/project/${p.slug}`}
            />
          ))
        }
      </div>
    </div>
    
  </section>
</Layout>
