---
import projectOfTheMonth from '../../../mocks/project_of_the_month.json';
import projectImage from '../../../assets/images/mocks/ProjectImageMocks.png';
import avatarMock from '../../../assets/images/mocks/ProfileMocks.svg';
import BigCard from '@/components/common/previewCard/BigCard.astro';
import ButtonIcon from '@/components/common/button/ButtonIcon';
import { ArrowRightIcon } from 'lucide-react';

const { t, lang } = Astro.props;

// map list
const projects = projectOfTheMonth.list.map((p) => ({
  ...p,
  image: projectImage.src, // mock image
  Contributor:
    p.Contributor?.map((c) => ({
      ...c,
      avatar: avatarMock.src,
    })) || [],
  Professors:
    p.Professors?.map((prof) => ({
      ...prof,
      avatar: avatarMock.src,
    })) || [],
}));
---

<section id="MonthSection" class="flex w-full flex-col gap-5 py-6 px-16 pt-10 pb-5">
  <!-- Topic -->
  <div class="flex flex-col items-center gap-2 text-center">
    <p>{t('home.month.smallTopic')}</p>
    <h1>{t('home.month.topic')}</h1>
    <div class="lead">{t('home.month.subTopic')}</div>
  </div>

  <!-- List of Cards -->
  <div class="flex flex-wrap gap-6 justify-center">
    {
      projects.map((p) => (
        <BigCard
          t={t}
          projectImage={p.image}
          title={p.title}
          explanation={p.description}
          likes={p.likes}
          views={p.views}
          professors={p.Professors}
          contributors={p.Contributor}
          teamName={p.team}
          link={`/${lang}${p.link}`}
        />
      ))
    }
  </div>

  <!-- Explore More -->
  <div class="flex justify-center items-center gap-5">
    <p>{t('home.month.viewAll')}</p>
    <ButtonIcon
      text={t('home.month.navigate')}
      icon={ArrowRightIcon}
      link={`/${lang}/projectOfTheMonth`}
    />
  </div>
</section>
