---
export const prerender = false;
import { getProjects } from '@/lib/api';
import BigCard from '@/components/common/previewCard/BigCard.astro';
import { ArrowRightIcon } from 'lucide-react';

const { t, lang } = Astro.props;
const PAGE_SIZE = 3;
const ORDER_BY = 'monthly_like_count';
const ORDER = 'desc';

const { meta, data: projects } = await getProjects({
  pageSize: PAGE_SIZE,
  orderBy: ORDER_BY,
  order: ORDER,
});
---

<section id="MonthSection" class="flex w-full flex-col gap-5 py-6 px-16 pt-10 pb-5">
  <!-- Topic -->
  <div class="flex flex-col items-center gap-2 text-center">
    <p>{t('home.month.smallTopic')}</p>
    <h1>{t('home.month.topic')}</h1>
    <div class="lead">{t('home.month.subTopic')}</div>
  </div>

  <!-- List of Cards -->
  <div class="flex flex-wrap gap-6 justify-center">
    {
      projects.map((p) => (
          <BigCard
            t={t}
            projectImage={p.previewImageUrl}
            title={p.title}
            explanation={p.shortDescription}
            likes={p.likeCount}
            views={p.viewCount}
            professors={p.certifiedBy}
            contributors={p.contributors}
            link={`/${lang}/project/${p.projectId}`}
          />
        ))
    }
  </div>

  <!-- Explore More -->
  <div class="flex justify-center items-center gap-5 mt-6">
    <p>{t('home.month.viewAll')}</p>
    <a href={`/${lang}/project?orderBy=${ORDER_BY}&order=${ORDER}`}>
      <button class="btn-icon" type="button" aria-label={t('home.month.navigate')}>
        <ArrowRightIcon size={20}/>
        <span class="small">{t('home.month.navigate')}</span>
      </button>
    </a>
  </div>
</section>
